
$gradient: 0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5);







#contacto2{
    background-image: linear-gradient( 
        $gradient
    )
    ,url(/media/hero\ 1\ real.png);
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    
    
}